{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        {% block title %} 收銀區 {% endblock %}
        {% block content %}
        {% load static %}

        <div class="App">
            <div class="corners4">
                <div class="menu">
                    <img class="foodImg" src="{% static 'image/food.jpg' %}" />
                </div>
                
                <div class="content">
                    <div class="cashier">收銀區</div>
                    <ul class="list-group">
                        <li>重量：20 公克</li>
                        <li>熱量：20 大卡</li>
                        <li>價錢：20 元</li>
                    </ul>
                    <div class="speech-bubble">
                        <!-- 還不能讓其他裝置掃描，但是可以直接點qrcode進到下一個頁面 -->
                        <a href="{% url 'nutritionInfo' %}">
                            <img class="qrcode" src="{% static 'image/qrcode.png' %}" />
                        </a>
                        
                        <br/>
                        <p class="scan">Scan me</p>
                    </div>
                
                </div>
              
            </div>
        </div>
        {% endblock %}
    </body>
</html>



