{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>

        <!-- 呼叫 pyscript -->
        <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
        <script defer src="https://pyscript.net/alpha/pyscript.js"></script>

        <!-- Add additional CSS in static file -->
        <link rel="stylesheet" href="{% static 'css/interface.css' %}" >

        <!-- 呼叫 bootstrap -->
        <!-- Latest compiled and minified CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Latest compiled JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </head>
    <body>
        {% block title %} 買家 {% endblock %}
        {% block content %}
        <div className="App">
            <!-- 標題 -->
            <h1 className="Buf-header">3D 智助餐</h1>

            <!-- 上傳 camera -->
            <!-- <py-script src="/interface/views.py" class="camera"></py-script> -->
            <div margin-left="auto" margin-right="auto">
                <label class="camera" htmlFor="input">
                    <img src="/interface/views.py" alt="" width="400" height="200" />
                    <!-- <input type="file" accept="image/*" id="camera"/> -->
                    <img src="/interface/views.py" alt="" width="400" height="200" />
                </label>
            </div>

            <!-- 回首頁 -->
            <br>
            <a href="/">
                <button>回首頁</button>
            </a>
        </div>
        {% endblock content %}
    </body>
</html>




            <!-- 上傳圖片 -->
            <!-- <Container>
            <Row>
                <Col md="auto">
                <p>Buffet</p>
                <label className="wrapper" htmlFor="input">
                    {url ? (
                    <img src={url} alt="" width="400" height="200" />
                    ) : (
                    <div className="description">請選擇圖片</div>
                    )}
                    <input
                    type="file"
                    accept="image/*"
                    style= display: "none" 
                    id="input"
                    onChange={(e) => {
                        const file = e.target.files[0];
                        if (file) {
                        const objectUrl = URL.createObjectURL(file);
                        setUrl(objectUrl);
                        }
                    }}
                    />
                </label>
                </Col>
            </Row>
            </Container> -->



