/* 收銀區頁面 */
.menu {
    height: 100vh;
    width: 50%;
    /* background-color: #7C7C7C; */
    float: left;
}
.foodImg {
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.content {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    float: right;
}

.cashier {
    border: #4a9466 2px solid;
    background-color: #7cbe95;
    color : #ffffff;
    font-size: 30px;
    padding : 10px;
    width : 200px;
    height : 70px;
}

ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    font-size : 2.5vw;
    margin-top : 2.5vw;
}

.speech-bubble {
    position: relative;
    transform: translateY(-45px);
    background: #7cbe95;
    border-radius: 50%;
    margin-top : 6%;
    width : 25%;
    height : 23%;
    margin-left : 65%;
    padding-top : 2%;
    .qrcode {
        position : absolute;
        transform: translate(-50%, 3%);
        width : 7vw;
        height : 7vw;
    }
    .scan{
        position: absolute;
        transform: translate(85%,354%)
    }
}
.speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 35px solid transparent;
    border-top-color: #7cbe95;
    border-bottom: 0;
    border-left: 0;
    margin-left: -17.5px;
    margin-bottom: -34px;
}


