{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        {% block title %} 3D智助餐 {% endblock %}
        {% block content %}
        {% load static %}

        <div class="home">
            <img src="{% static 'image/home_backgroundOri.png' %}" class="home_background" />
            <p class="title">3D智助餐</p>
            <a href="{% url 'loginData' %}" class="flowBtnLogin">
                <button type="button" class="homeBtn">登入</button>
            </a>
            <a href="{% url 'logUpData' %}" class="flowBtnLogup">
                <button type="button" class="homeBtn">註冊</button>
            </a>
        </div>
        <div class="about">
            <p class="title">關於</p>
            <p class="aboutus"> 外食已經成為許多人生活中不可或缺的一部分，而自助餐因其多樣的菜色和便利的用餐方式，成為一個受歡迎的選擇。<br>    且隨著人們對健康飲食的關注不斷增加，如何在自助餐餐廳中識別所夾的菜色種類、計算份量、並評估熱量和營養成分，成為一件重要的任務。<br>
                 
                    透過3D智助餐系統，不僅可以加速結帳的過程，還可以幫助店家更好地管理菜色、人力和食材數量。<br>    對於消費者來說，這個系統還能提供每一餐的資訊，讓他們更好的了解自己的飲食習慣，有助於健康飲食。<br>  我們希望這個系統能夠成為業者和消費者雙贏的飲食環境。
            </p>
        </div>
        {% endblock %}
    </body>
</html>
