{% extends "baseBuyer.html" %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="newbuyerData.css">
    </head>
    <body>
        {% block title %} 買家資訊 {% endblock %}
        {% block content %}

        {% if user.is_authenticated %}
        <p>{{ user.username }}</p>
        {% endif %}
        
         <!-- if request.user.is_authenticated  -->
        <div class="App forNav">
            <!-- 調資料庫 -->
            <div class="history-list">
                {% for rec in records %}
                <div class="buyerData">
                <ul class="list-group">
                    <li>{{ rec.eat_date }}{{ rec.eat_time }}</li>
                    <li><div>總熱量：</div><div>{{ rec.total_cal }} Cal</div></li>
                    <li><div>總價錢：</div><div>{{ rec.cost }} dollar</div></li>
                    <div>
                        <a href="{% url 'nutritionInfo' %}">...more</a>
                    </div>
                </ul>
            </div>
            {% endfor %}
            <div class="buyerData">
                <ul class="list-group">
                    <li>{{ rec.eat_date }} {{ rec.eat_time }}</li>
                    <li><div>總熱量：</div><div>{{ rec.total_cal }} Cal</div></li>
                    <li><div>總價錢：</div><div>{{ rec.cost }} dollar</div></li>
                    <div>
                        <a href="{% url 'nutritionInfo' %}">...more</a>
                    </div>    
                </ul>
            </div>
        </div>  
                   
         <!-- endif  -->

        {% endblock %}
    </body>
</html>



