{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        {% block title %} 更換密碼 {% endblock %}
        {% block content %}
        <div class="App forNav">
            <div class="corners4">
                <hr class="hr1" />
                <form class="login", method="post">
                    <input name="origin_password" placeholder="原密碼：" /><br/>
                    <input name="new_password" placeholder="密碼：" /><br/>
                    <input name="new_repassword" placeholder="再次確認密碼：" /><br/>
                    <a href="{% url 'buyerData' %}">
                        <button type="submit">送出</button><br/>
                    </a>
                    {% if error_msg %}
                    <div>{{ error_msg }}</div>
                    {% endif %}
                </form>
                <hr class="hr2" />
            </div>
        </div>
        {% endblock %}
    </body>
</html>


