{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        {% block title %} 註冊帳號 {% endblock %}
        {% block content %}

        <div class="App forNav">
            <div class="cornerslog">
                <hr class="hr1" />
                
                <form class="login", method='post'>
                    <input name="account" placeholder="帳號：" /><br/>
                    <input type="password" name="password" placeholder="密碼：" /><br/>
                    <input type="password" name="repassword" placeholder="再次確認密碼：" /><br/>
                    <a href="{% url 'loginData' %}">
                        <button type="submit">送出</button><br/>
                    </a>
                    {% if error_msg %}
                    <div>{{ error_msg }}</div>
                    {% endif %}
                </form>
                <hr class="hr2" />
            </div>
        </div>
        {% endblock %}
    </body>
</html>


