{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="square">
            {% block title %} 3D智助餐 {% endblock %}
            {% block content %}

            {% if user.is_authenticated %}
            <!-- 賣家 -->
                <div class="App">
                    <!-- 標題 -->
                    <h1 class="Buf-header">3D 智助餐</h1>
            
                    <!-- 選擇日期得知當日菜色的銷量(重量由低到高排名) -->
                    <p>請選擇日期：</p>
                    <input type="date" />
                    <button type="submit">生成</button>

                    <table class="table table-striped" style="margin-left: 0px;">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">菜名</th>
                            <th scope="col">賣出份量</th>
                        </tr>
                        </thead>
                        {% for list in unpopular %}
                        <tbody>
                        <tr>
                            <th scope="row">{{ list.id }}</th>
                            <td>{{ list.item_name.food_name }}</td>
                            <td>{{ list.volume_sum }}</td>
                        </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                    
                    <!-- 進到資料庫的頁面 -->
                    <a href="admin">
                        <button>管理資料庫</button>
                    </a>
                    <!-- 登出，也等於回首頁 -->
                    <a href="{% url 'logout' %}">
                        <button>登出</button>
                    </a>

                    <div class="container text-center">
                        <div class="row">
                            <div class="col">熱量(大卡)：</div>
                            <div class="col">{{ calories }}</div>
                            <div class="col">{{ calories }}</div>
                            <div class="col"></div>
                        </div>
                    </div>
                </div>
            {% else %}
            <!-- 首頁 -->
                <div class="App">
                    <!-- 標題 -->
                    <h1 class="Buf-header">3D 智助餐</h1>

                    <!-- 決定要進入買家還是賣家的頁面 -->
                    <p>歡迎使用本網站，本網站將提供您夾取菜色後的價錢、熱量等供您參考</p>
                    <p class='BorS'>請問您是：</p>

                    <a href="{% url 'buyer' %}">
                        <button>買家</button>
                    </a>
                    <a href="{% url 'login' %}">
                        <button>賣家</button>
                    </a>
                </div>
            {% endif %}


            <div class="App">
                <div class="corners4">
                    <button class="startBtn">Start</button><br/>
                  
                    <img style="width:300px; height:300px;" src="" />
                  
                    <div class="cirPos">
                        <div class="preloader">Analyzing
                        <div class="circ1"></div>
                        <div class="circ2"></div>
                        <div class="circ3"></div>
                        <div class="circ4"></div>
                    </div>
                </div>
            </div>
            {% endblock %}
        </div>
    </body>
</html>



