{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        {% block title %} 營養素詳細資訊 {% endblock %}
        {% block content %}

        <div class="App">
            <div class="corners4">
                <hr>
                <!-- 環圈圖 -->
                <img class="donutChart" />
                
                <!-- 詳細資訊，需調資料庫，透過 {{for...}} -->
                <table>
                    <tr>
                        <th></th>
                        <th>熱量 (Cal)</th>
                        <th>蛋白質 (g)</th>
                        <th>脂質 (g)</th>
                        <th>碳水化合物 (g)</th>
                        <th>纖維素 (g)</th>
                    </tr>
                    <tr>
                        <td>noodle</td>
                        <td>Alfreds Futterkiste</td>
                        <td>Maria Anders</td>
                        <td>Germany</td>
                        <td>20</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>rice</td>
                        <td>Centro comercial Moctezuma</td>
                        <td>Francisco Chang</td>
                        <td>Mexico</td>
                        <td>20</td>
                        <td>20</td>
                    </tr>
                </table>
                
                <a href="{% url 'loginData' %}">
                    <button class="loginBtn">登入儲存</button>
                </a>
                <hr>
              
            </div>
        </div>
        {% endblock %}
    </body>
</html>


