<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        
        <!-- % block <name> % : 定義一個區間，讓其他繼承者在去做更動 -->
        <title> {% block title %} {% endblock %} </title>

        <!-- 呼叫 bootstrap -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

        <!-- Add additional CSS in static file (增加自訂的css) -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/interface.css' %}" >
        <link rel="stylesheet" href="{% static 'css/home.css' %}" >
        <link rel="stylesheet" href="{% static 'css/camera.css' %}" >
        <link rel="stylesheet" href="{% static 'css/cashier.css' %}" >
        <link rel="stylesheet" href="{% static 'css/nutritionInfo.css' %}" >
        <link rel="stylesheet" href="{% static 'css/base.css' %}" >
        <link rel="stylesheet" href="{% static 'css/buyerSeller.css' %}" >
        <link rel="stylesheet" href="{% static 'css/joinMember.css' %}" >

        <link rel="icon" type="image/x-icon" href="{% static 'image/logo_removebg.ico' %}">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'image/logo_removebg.ico' %}">
    </head>
    <body>
        <!-- 最上排narbar -->
        <nav class="navbar navbar-expand-md fixed-top">
          <div class="container-fluid">
            <a class="navbar-brand" href="/">
              <img src="{% static 'image/logo_removebg.png' %}" alt="Avatar Logo" style="width:50px; margin:5px;" class="rounded-pill"> 
            </a>
            <a class="navbar-brand fontStyle" href="http://127.0.0.1:8080/" style="font-size: 30px;margin: 5px;color: rgba(0, 0, 0, 0.65)">3D CAFETERIA</a>
            
            <!-- Toggler/collapsibe Button -->
            <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
            </button> -->

            <!-- Navbar links -->
            <div class="collapse navbar-collapse nav justify-content-end" id="collapsibleNavbar">
              <ul class="navbar-nav fontStyle bgColor">
                <!-- <li class="nav-item">
                  <a class="nav-link" href="{% url 'camera' %}">Open Depth Camera</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'cashier' %}">cashier for test</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'seller_info' %}">seller_info for test</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'sellerData' %}">sellerData for test</a>
                </li> -->
              </ul>
            </div>
          </div>
        </nav>

      <!-- <div class="dataNav">
          <ul class="nav"> 
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">賣家資料</a>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">更改密碼</a></li>
                      <li><a class="dropdown-item" href="/">登出</a></li>
                  </ul>
              </li>
          </ul>
          
          <ul class="nav justify-content-end"> 
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">銷售分析</a>
                  <ul class="dropdown-menu">
                      調資料庫
                      <li><a class="dropdown-item" href="#">date1</a></li>
                      <li><a class="dropdown-item" href="#">date2</a></li>
                      <li><a class="dropdown-item" href="#">date3</a></li>
                  </ul>
              </li>
          </ul> 
      </div> -->
          
        {% block content %}
        {% endblock %}
    </body>
</html>

