.joinMemPic {
    width: 400px;
    height: 400px;
    overflow: hidden;
}

.introduce {
    font-size: 30px;
}

.introduceTitle {
    font-size: 5vw;
}

.joinMemBtn {
    font-size: 3vw;
    color:white;
    background-color: #81ce8fd4;
    transition-duration: 0.2s;
}
.joinMemBtn:hover {
    color: black;
    background-color: white;
}

.joinCenter {
    width: 44vw;
    height: 33vw;
    overflow: hidden;
    /* cursor: pointer; */
}