{% extends "baseBuyer.html" %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        {% block title %} 營養素詳細資訊 {% endblock %}
        {% block content %}
        {% load static %}

        <div class="App">
            <div class="corners4">
                <hr class="hr1">
                <!-- 環圈圖 -->
                <img class="donutChart" src="{% static 'image/donut_chart.png' %}" />
                
                <!-- 詳細資訊，需調資料庫，透過 {{for...}} -->
                <table>
                    <tr>
                        <th>名字</th>
                        <th>重量 (g)</th>
                        <th>熱量 (Cal)</th>
                        <th>蛋白質 (g)</th>
                        <th>碳水化合物 (g)</th>
                        <th>脂質 (g)</th>
                    </tr>
                    {% for rec in detail %}
                    <tr>
                        <td> {{ rec.food_id }} </td>
                        <td> {{ rec.weight }} </td>
                        <td> {{ rec.calorie }} </td>
                        <td> {{ rec.protein }} </td>
                        <td> {{ rec.carbohydrate }} </td>
                        <td> {{ rec.fat }} </td>
                    </tr>
                    {% endfor %}

                    {% for rec in total %}
                    <tr>
                        <th>總熱量</th>
                        <td> {{ rec.total_weight }} </td>
                        <td> {{ rec.total_cal }} </td>
                        <td> {{ rec.total_pro }} </td>
                        <td> {{ rec.total_carbo }} </td>
                        <td> {{ rec.total_fat }} </td>
                    </tr>
                    {% endfor %}
                </table>
                
                <br>
                <!-- <a href="{% url 'loginData' %}">
                    <button class="loginBtn">登入儲存</button>
                </a> -->
                <hr class="hr2">
              
            </div>
        </div>
        {% endblock %}
    </body>
</html>


