{% extends "baseSeller.html" %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        {% block title %} 攝影機 {% endblock %}
        {% block content %}

        {% load static %}
        <div class="App"> 
            <div class="corners4">                
                <div class="capture" id="capture" style="display: inline;">
                    <img class="camera" src="{% static 'image/screenShot.jpg' %}" /><br/>
                    <!-- <img class="camera" src="{% url 'FoodVedioFeed' %}" /><br/> -->
                    <form method="post">
                        <button id="startBtn" class="startBtn">Capture</button>
                    </form>
                </div>

                <div class="analysis" id="analysis" style="display: none;">
                    <div id="imageContainer">
                        <!-- 图片将会显示在这里 -->
                    </div>
                    
                    <!-- 我需要把即時生成的segmrent img copy 到static -->
                    <div class="cirPos">
                        <div class="preloader">Analyzing
                            <div class="circ1"></div>
                            <div class="circ2"></div>
                            <div class="circ3"></div>
                            <div class="circ4"></div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
        <script>
            // 获取图片容器和按钮
            var imageContainer = document.getElementById('imageContainer');

            document.getElementById("startBtn").addEventListener("click", function(){
                // Show capture and hide analysis initially
                document.getElementById("capture").style.display = "inline";
                document.getElementById("analysis").style.display = "none";

                images = "{% static 'image/screenShot.jpg' %}";
                imageContainer.innerHTML = `<img src="${images}" alt="Image" class="camera">`;

                // After 3 seconds, hide capture and show analysis
                setTimeout(function() {
                    document.getElementById("capture").style.display = "none";
                    document.getElementById("analysis").style.display = "inline";
                    setTimeout(function() {
                        images = "{% static 'image/blend_img.png' %}";
                        imageContainer.innerHTML = `<img src="${images}" alt="Image" class="camera">`;
                    }, 8000);
                }, 100);
            });
        </script>
        {% endblock %}
    </body>
</html>
