/* 營養資訊介面 */
.donutChart {
    width : 50svw;
    height : 50svw;
}

table {
    margin : 5%;
    width : 90%;
}
th, td, tr {
    background-color : rgba(150,212,212,.4);
    border : solid 2px #ffffff;
    font-size: 2vw;
}

.loginBtn {
    background-color: #96D4D4;
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;
    border-radius: 12px;
    transition-duration: 0.2s;
}
.loginBtn:hover {
    background-color: white;
    border: 2px solid #96D4D4;
    color: black;
}

hr {
    border: 2px solid black;
    margin-top : 30px;
    margin-bottom : 30px;
}


